<div class="authors-page">
    <div class="authors-page-title">
        <h2>Search Authors</h2>
        <form action="/authors" method="GET">
            <input type="text" name="name" value="<%= searchOptions.name %>">
            <button type="submit">Search</button>
        </form>
    </div>
    <div class="authors-container">
        <% authors.forEach(author => { %>
            <div class="author-container">
                <h1><%= author.name %></h1>
                <a href="/authors/<%= author.id %>">View</a>
                <a href="/authors/<%= author.id %>/edit">Edit</a>
                <%- include('../partials/deleteForm', { url: `/authors/${author.id}` }) %>
            </div>
        <% }) %>
    </div>
</div>